.searchbar {
    display: flex;
    gap: 12px;
    box-shadow: var(--box-shadow-4dp);
    border-radius: var(--border-radius-l);
    padding-block: 6px;
    padding-inline: 24px 6px;
    overflow: hidden;
    width: max-content;

    &__input {
        border: 0;
        outline: 0;
    }

}
