.app_button {
    border: 0;
    border-radius: var(--border-radius-m);
    background-color: rgba(var(--main-color));
    padding: 10px 18px;
    color: rgba(var(--neutral-0));
    box-shadow: var(--box-shadow-2dp);
}